body {
	margin:0px;
}


.ad {
	width: 300px;
    height: 600px;
	border: 1px solid #a7a7a7;
	position: relative;
	overflow: hidden;
    background: url('../img/background.png') no-repeat center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
	text-decoration: none;
    width: 300px;
    height: 600px;
    display: block;
}

.logo {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

.jeremy {
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 1;
}

.content {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
}

.content p {
	color: #fff;
	font-size: 32px;
	text-align: center;
    margin: 35px auto 47px;
    text-shadow: 2px 2px 5px #000;
    letter-spacing: -1px;
}

.content p .second, .content p .third {
    opacity: 0;
}

.content .btn {
	background: #f8d007;
    font-size: 28px;
    padding: 5px 0;
    width: 95px;
    color: #3d3d3d;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
    display: block;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
}

.images {
    height: 480px;
    position: relative;
}

.images img {
    position: absolute;
    opacity: 0;
}

.images .left {
    left: -76px;
}

.images .center {
    left: 0;
    right: 0;
    margin: auto;
}

.images .right {
    right: -76px;
}

.images .one {
    opacity: 1;
}

.images .one, .images .two, .images .three {
    bottom: 0;
}

.images .four, .images .five, .images .six {
    bottom: 63px;
}

.images .seven, .images .eight, .images .nine {
    bottom: 126px;
}

.images .ten, .images .eleven, .images .twelve {
    bottom: 189px;
}

.images .thirteen, .images .fourteen, .images .fifteen {
    bottom: 252px;
}

.images .sixteen, .images .seventeen, .images .eighteen {
    bottom: 315px;
}

.images .nineteen, .images .twenty, .images .twenty-one {
    bottom: 378px;
}

.images .twenty-two, .images .twenty-three, .images .twenty-four {
    bottom: 441px;
}






