body {
    margin:0;
}

a {
    text-decoration: none;
    width: 160px;
    height: 600px;
    overflow: hidden;
    display: block;
}

#container {
    background-image: url('../img/bckgrd.jpg');
    width: 160px;
    height: 600px;
    border: 1px solid #a7a7a7;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h4 {
    color: #fff;
    margin: 25px auto 28px;
    text-align: center;
    font-weight: 300;
    text-shadow: 1px 1px #2e2e2e;
    font-size: 25px;
    line-height: 30px;

}

.radio {
    margin: 15px auto 26px;
}

.radio > div {
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    margin: 5px auto;
}

.radio > div span {
    position: relative;
    display: block;
    width: 91px;
    padding-left: 30px;
    margin: 0 auto;
}

.radio > div span::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 14px;
    border: #f8d007 2px solid;
    -webkit-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, .7);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, .7);
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.radio > div span:hover::before {
    background: #f8d007;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.cta {
    background: #f8d007;
    font-size: 23px;
    padding: 6px 0;
    width: 100px;
    color: #3d3d3d;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
    display: block;
    text-align: center;
    margin: 0 auto;
}

.logo {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 147px;
}