body {
    margin:0;
}

a {
    text-decoration: none;
    width: 480px;
    height: 60px;
    overflow: hidden;
    display: block;
}

#container {
	background: rgb(21,84,133); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(21,84,133,1) 0%, rgba(89,134,167,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(21,84,133,1) 0%,rgba(89,134,167,1) 100%);
	background: linear-gradient(to bottom,  rgba(21,84,133,1) 0%,rgba(89,134,167,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#155485', endColorstr='#5986a7',GradientType=0 );
    width: 480px;
    height: 60px;
    border: 1px solid  black;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h4 {
	color: #fff;
    text-align: center;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    font-size: 23px;
    line-height: 22px;
    margin: 6px 0 0 10px;
    display: inline-block;
    float: left;
}

.btn-area {
    position: absolute;
    top: 12px;
    bottom: 9px;
    right: 115px;
    width: 90px;
    height: auto;
}

.cta {
    background: #f8d007;
    font-size: 21px;
    padding: 3px 0;
    width: 110px;
    color: #3d3d3d;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
    display: block;
    text-align: center;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.logo {
    position: absolute;
    width: 65px;
    margin-left: 125px;
    margin-bottom: 0px;
    top: -8;
    height: auto;
}