body {
	margin:0;
}

a {
    width: 320px;
	height: 50px;
    display: block;
}

.ad {
    width: 320px;
	height: 50px;
    border: 1px solid #a7a7a7;
    position: relative;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}