@import url(//fonts.googleapis.com/css?family=Roboto+Condensed);

body{
	margin:0px;
}
.ad{
	width: 334px;
    height: 848px;
	border: 1px solid #a7a7a7;
	position: relative;
	overflow: hidden;
}
img{
	width:100%;
	position: absolute;
	top:0;
	right:0;
	height:100%;
}
img.first{
	display:block;
	opacity: 1;
}
.content{
	position: relative;
	color: #fff;
	font-family: 'Roboto Condensed', Arial;
	font-size: 2.9em;
	text-shadow: 1px 3px 5px #000;
	text-align: center;
	display: block;
	padding: 0px 16px;
	margin-top: 81px;
}
.content p{
	margin-top: 25px;
    line-height: 59px;
    margin-bottom: 0px;
}
.cta{
	position: relative;
}
.cta img{
	width: 240px;
    position: relative;
    height: auto;
    margin-left: 46px;
    margin-top: 389px;
}
.cta p{
	background: #fdd301;
    width: 132px;
    padding: 8.5px 7px;
    font-size: 1.7em;
    color: #3d3d3d;
    margin-left: 89px;
    font-family: 'Roboto Condensed', Arial;
    box-shadow: 0px 1px 4px #000;
    text-shadow: 2px 2px 1px #fdd301, 0 0 0 #000, 2px 3px 1px #fdd301;
    text-align: center;
    margin-top: 20px;
}
a{
	text-decoration: none;
}
