/* Fonts */

body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

.double-stack-banner-wrap {
	width: 1024px;
	height: 90px;
	overflow: hidden;
	position: relative;
	background: #2b76a6; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b76a6 0%, #a5c3d7 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2b76a6 0%,#a5c3d7 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2b76a6 0%,#a5c3d7 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b76a6', endColorstr='#a5c3d7',GradientType=0 ); /* IE6-9 */
}

.train-wrap {
	overflow: hidden;
	width: 1000px;
	height: 100%;
	position: relative;
}

.train {
	width: 2314px;
	height: 100%;
	position: absolute;
	bottom: 12px;
	left: -2315px;
	z-index: 3;
	// background: rgba(0,0,0,.5);
	text-align: right;
}

.train.infinite {
	padding-left: 51px;
}

.train-engine, .train-car {
	position: relative;
	display: inline-block;
	height: 100%;
}

.train-engine img, .train-car .car {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.train-car .stack {
	display: block;
	position: absolute;
	top: -100px;
	right: 0;
}

.train-car.stacked .stack  {
	/*top: 35px;*/
} 

.train-engine {
	width: 137px;
}

.train-car {
	width: 103px;
}

.train-tracks {
	background:url('../_img/tracks.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 5px;
	position: absolute;
	bottom: 12px;
	z-index: 2;
}
.tunnel{
	position: absolute;
    right: -40px;
    width: 132px;
    bottom: 3px;
    height:45px;
}
.tunnel-wrap {
	position: absolute;
	right: 0;
	bottom: 11px;
	z-index: 1;
	width: 64px;
	height: 78px;
	overflow: hidden;
}

.tunnel-base {
	background: #231f20;
	height: 53px;
	width: 53px;
	position: absolute;
	bottom: -40px;
	right: 0;

}

.tunnel-top {
	background: #231f20;
	border-radius: 50% 50% 0 0;
	width: 64px;
	height: 64px;
	position: absolute;
	bottom: -15px;
	right: 0;
}

.tunnel-mask {
	position: absolute;
	z-index: 10;
	width: 27px;
	height: 36px;
	right: 0;
	bottom: 21px;
}

/* Text Layer */

.text-wrap {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.text-wrap .intro {
	position: absolute;
	width: 100%;
	bottom: 46px;
	text-align: center;
	margin-left: -20px;
}

.intro p {
	font-size: 2.4em;
	margin: 0;
	color: white;
	text-shadow: 1px 1px 5px rgba(0,0,0, .5);
	display: inline;
	vertical-align: middle;

}

.intro p span {
	opacity: 0;
}

.intro .cta {
	display: inline;
	vertical-align: middle;
	
	color: #fcd230;
	font-size: 2.4em;
	font-weight: 500;
	margin-left: 5px;
	text-shadow: 1px 1px 5px rgba(0,0,0, .5);
	opacity: 0;
}

.intro .cta .arrow {
	vertical-align: middle;
	opacity: 0;
}

.answer {
	position: absolute;
	width: 100%;
	bottom: 40px;
	text-align: center;
	margin-left: 0px;
}

.answer p {
	color: #fdd301;
	font-size: 2.4em;
	margin: 0;
	text-shadow: 1px 1px 5px rgba(0,0,0, .5);
	vertical-align: middle;
}

.answer p span {
	opacity: 0;
}

.resolution {
	position: absolute;
	width: 100%;
	top: 20px;
	text-align: center;
	margin-left: -35px;	
}

.resolution .find-out {
	background: #fdd301;
    box-shadow: 3px 3px 1px rgba(0,0,0,.25);
    text-shadow: 1px 1px 0px rgba(255,255,255,.65);
    font-size: 2em;
    line-height: 1em;
    display: inline-block;
    padding: 9px 22px;
    vertical-align: middle;
    opacity: 0;
    margin-top: -2px;
    color: #333;
}

.resolution .freight-rail-works {
	vertical-align: middle;
	display: inline-block;
	margin-left: 20px;
	opacity: 0;
}
