body {
    margin:0;
}

a {
    text-decoration: none;
    width: 728px;
    height: 90px;
    overflow: hidden;
    display: block;
}

#container {
	background: rgb(21,84,133); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(21,84,133,1) 0%, rgba(89,134,167,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(21,84,133,1) 0%,rgba(89,134,167,1) 100%);
	background: linear-gradient(to bottom,  rgba(21,84,133,1) 0%,rgba(89,134,167,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#155485', endColorstr='#5986a7',GradientType=0 );
    width: 728px;
    height: 90px;
    border: 1px solid #a7a7a7;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h4 {
    color: #fff;
    font-weight: 300;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, .7);
    font-size: 25px;
    line-height: 28px;
    margin: 12px auto 0;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.radio {
    margin: 7px auto 35px;
}

.radio > div {
    font-size: 19px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 0 29px;
    display: inline-block;
    float: left;
    text-shadow: 0px 0px 9px rgba(0, 0, 0, .7);
}

.radio > div span {
    position: relative;
    display: block;
    width: auto;
    padding-left: 30px;
    margin: 0 auto;
}

.radio > div span::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 14px;
    border: #f8d007 2px solid;
    -webkit-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset 1px 2px 5px rgba(0, 0, 0, .7);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, .7);
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.radio > div span:hover::before {
    background: #f8d007;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-area {
    position: absolute;
    top: 17px;
    bottom: 7px;
    right: 11px;
    width: 200px;
    height: auto;
}




.cta {
    background: #f8d007;
    font-size: 24px;
    line-height: 20px;
    padding: 7.5px 0px;
    width: 78px;
    color: #3d3d3d;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .5);
    display: block;
    text-align: center;
    letter-spacing: -.5px;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.logo {
    position: absolute;
    top: -1px;
    right: 25px;
    width: 71px;
    height: 56px;