@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400);

body{
	margin:0px;
}
.ad{
	width: 968px;
    height: 248px;
	border: 1px solid #a7a7a7;
	position: relative;
	overflow: hidden;  
	background-image: -moz-linear-gradient( 90deg, rgb(127,166,192) 0%, rgb(21,98,146) 100%);
 	background-image: -webkit-linear-gradient( 90deg, rgb(127,166,192) 0%, rgb(21,98,146) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgb(127,166,192) 0%, rgb(21,98,146) 100%);
}


div.train1 img.rail{
	position: absolute;
    bottom: 0;
    left:28%;
}
div.train1 img.train{
	position: absolute;
    left: 60%;
    bottom: 0;
}
div.train2 img.rail{
	position: absolute;
    bottom: 0;
    left:46%;
}
div.train2 img.train{
	position: absolute;
    left: 78%;
    bottom: 0;
}
div.train3 img.rail{
	position: absolute;
    left: 10%;
    bottom: 0px;
}
div.train3 img.train{
	position: absolute;
    left: 42%;
    bottom: 0;
}
.content{
	position: relative;
	color: #fff;
	font-family: 'Roboto Condensed', Arial;
	font-size: 2.3em;
	text-shadow: 0.707px 0.707px 5px rgba(0, 0, 0, 0.55);
	text-align: center;
	display: block;
    width:42%;
}
.content p{
    margin-bottom: 0px;
    margin-top: 26px;
    line-height: 44px;
    padding-left: 15px;
}
.content p span{
	display: none;
}

.cta{
	position: relative;
    padding-top: 12px;
    width:42%;
}
.cta img{
	width: 179px;

}
.cta p{
	background: #fdd301;
    width: 104px;
    padding: 16px 0px;
    font-size: 1.6em;
    color: #3d3d3d;
    margin-left: 48px;
    font-family: 'Roboto Condensed', Arial;
    text-shadow: 1.414px 1.414px 0px rgba(255, 255, 255, 0.25);
    text-align: center;
    float: left;
    line-height: 10px;
    margin-top: 0px;
    margin-right: 15px;
    box-shadow: 2.121px 2.121px 1px 0px rgba(0, 0, 0, 0.25);
}
a{
	text-decoration: none;
}
